.center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px;
}

button {
    position: absolute;
    left: 50%;
    text-align: center;
    padding: 10px;
}

input {
    position: absolute;
    left: 50%;
    text-align: center;
    padding: 10px;
}
